.nav__container {
    display: flex;
    // margin-bottom: 60px;

    .nav__content{
        display: flex;
        justify-content: space-between;
        // background-color: #F2FFDE ;
        position: fixed;
        width: 100%;
        height: 60px;
        z-index: 10;
        border-bottom: 1px solid #000;
        backdrop-filter: blur(10px) ;

        .nav__logo {
            display: flex;
            align-items: center;
            margin-left: 7%;

            img {
                width: 180px;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
                }
            }
        }

        .nav__navigation {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 30px;
            margin-right: 50px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;

            .nav__link {
                position: relative;
                text-decoration: none;
                color: #000;
                font-size: 1.1rem;
                transition: color 0.3s ease-in-out;

                // &:hover {
                //     color: #a20000;
                // }

                &::after {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: #a20000;
                    left: 0;
                    bottom: -5px;
                    transition: width 0.3s ease-in-out;
                }

                &:hover::after {
                    width: 100%; /* Subrayado animado al pasar el mouse */
                }
            }

        }

        .link--naviagations {
            text-decoration: none;
            // color: #000;
            color: #A1FADB;
            padding: 5px;

            &:hover {
                color: #25FA93;
            }
        }

        .active {
            border-bottom: 1px solid transparent;
            position: relative;
            font-weight: bold;

            &::before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                border-bottom: 2px solid #000000;
                animation: slide-in 0.4s ease-in-out;
            }
        }
    }
}
@keyframes slide-in {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}
