.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 320px;
    margin-top: 5%;
    background: linear-gradient(to top, rgb(0, 0, 0, .2), transparent);
    // padding: 0 20px; // Espacio entre el contenedor y las líneas

    .footer__content {
        display: flex;
        align-items: center;
        width: 100%;

        .footer__content__line--left,
        .footer__content__line--right {
            flex: 1;
            height: 1px;
            background-color: rgb(0, 0, 0);
        }

        .footer__content__icons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px; // Espacio entre los íconos y las líneas

            .footer__content__links--instagram,
            .footer__content__links--facebook,
            .footer__content__links--youtube,
            .footer__content__links--envelope {
                position: relative; /* Necesario para posicionar el pseudo-elemento en relación con el ícono */
                margin: 0 10px; /* Espacio entre los íconos */
                color: black;
                text-decoration: none; /* Elimina el subrayado de los enlaces */
                transition: all 0.5s ease;
            
                &:hover::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 50px; /* Ajusta el tamaño del círculo según sea necesario */
                    height: 150%; /* Ajusta el tamaño del círculo según sea necesario */
                    border: 1px solid rgba(0, 0, 0, 0.3); /* Color y transparencia del círculo */
                    border-radius: 50%; /* Hace que el elemento sea un círculo */
                    transform: translate(-50%, -50%); /* Centra el círculo en el ícono */
                    z-index: -1; /* Asegura que el círculo esté detrás del ícono */
                    transition: all 0.5s ease; /* Transición suave para el efecto hover */
                }
            
                &:hover {
                    transform: scale(1.1); /* Aumenta el tamaño del ícono en hover */
                }
            
            }
        }
    }

    .footer__text{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        margin-bottom: 0%;

        h5{
            font-size: 1.8rem;
            color: rgb(0, 0, 0);
            font-weight: 600;
            
        }

    }   

    .footer__copyright{
        display: flex;
        margin-top: 4.5%;
        margin-bottom: 0%;

        p{
            font-size: 1rem;
            color: rgb(0, 0, 0);
            font-weight: 600;
        }
  
    }
}
