.titles-seccion__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;

  .titles-seccion__title {
      font-size: 55px;
      font-weight: 200;
      margin-bottom: 12px;
      position: relative;

      &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -8px; /* Ajusta la distancia del subrayado desde el texto */
          width: 120%;
          height: 3px; /* Grosor del subrayado */
          background-color: #25FA93;
          z-index: 1;
          transition: background-color 0.3s ease-in-out; /* Solo transición de color */
      }
  }
  .titles-seccion__subtitle {
      font-size: 20px;
      font-weight: 400;
    //   margin-bottom: -50px;
      width: 50%;
  }
}       